aiohappyeyeballs
aiohttp
aiohttp_socks
aiosignal
altgraph
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
blessed
blinker
bottle
Brotli
browser-cookie3
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
cryptography
cssselect2
curl_cffi
defusedxml
duckduckgo_search
editor
fastapi
Flask
frozenlist
g4f
h11
idna
inquirer
itsdangerous
jeepney
Jinja2
loguru
lz4
markdown-it-py
MarkupSafe
mdurl
multidict
nest-asyncio
packaging
pillow
platformdirs
plyer
primp
proxy_tools
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
PyExecJS
Pygments
pyinstaller
pyinstaller-hooks-contrib
python-socks
pywebview
readchar
requests
rich
runs
setuptools
six
sniffio
soupsieve
starlette
termcolor
tinycss2
typing_extensions
urllib3
uvicorn
wcwidth
webencodings
Werkzeug
xmod
yarl
yaspin
